<div class="flashcard unseen under_selected_topic topic_0 <%= @flashcards_metadata[@first_card.id][:topic_classes] %> currently_shown" 'style=display:none'>
	<div class="question_area">
		<div class="question_prefix">ANSWER ME THIS, IGNORANT FOOL:</div>
		<div id="question_<%= @first_card.id %>" class="question"><%= @first_card.question %></div>
		<div class="question_prefix">RECORD YOUR ANSWER AND PROVE YOUR MASTERY:</div>
		<textarea rows=4 cols=88></textarea>
	</div>
	<div id="answer_shown_<%= @first_card.id %>" class="answer_area" style="display:none">
		<div class="answer_prefix">THE ANSWER PROCEEDS THUSLY:</div>
		<div id="answer_<%= @first_card.id %>" class="answer"><%= @first_card.answer %></div>
	</div>
	<div id="source_shown_<%= @first_card.id %>" class="source_area" style="display:none">
		<div class="source_prefix">
		</div>
		<% unless @first_card.source.nil? || @first_card.source.empty? %>
			<div class="source"><%= @first_card.source %></div>
		<% end %>
	</div>
	<div class="flashcard_meta">
		<span class="flashcard_date"><%= @first_card.date.to_s %></span>
		<span class="topics_description"><%= @flashcards_metadata[@first_card.id][:topics_description] %></span>
	</div>
</div>
