<% @flashcards.each do |f| %>
<% style = @flashcard_to_show_id == f.id ? "" : 'style=display:none' %>
<% currently_shown = @flashcard_to_show_id == f.id ? "currently_shown" : "" %>
<div id="flashcard_<%= f.id %>" class="flashcard unseen under_selected_topic topic_0 <%= @flashcards_metadata[f.id][:topic_classes] %> <%= currently_shown %>" <%= style %>>
	<div class="question_area">
		<div class="question_prefix">ANSWER ME THIS, HEATHEN:</div>
		<div id="question_<%= f.id %>" class="question"><%= f.question %></div>
	</div>
	<div id="answer_shown_<%= f.id %>" class="answer_area" style="display:none">
		<div class="answer_prefix">THE ANSWER PROCEEDS THUSLY:</div>
		<div id="answer_<%= f.id %>" class="answer"><%= f.answer %></div>
	</div>
	<div id="source_shown_<%= f.id %>" class="source_area" style="display:none">
		<div class="source_prefix">
			<% if f.source.nil? || f.source.empty? %>
				<%="THERE IS NARY A SOURCE YET FOR THIS" %>
			<% else %>
				<%= "IF YOU DOUBT IT, CONSULT:" %>
			<% end %>
		</div>
		<% unless f.source.nil? || f.source.empty? %>
			<div class="source"><%= f.source %></div>
		<% end %>
	</div>
	<div class="flashcard_meta">
		<span class="flashcard_date"><%= f.date.to_s %></span>
		<span class="topics_description"><%= @flashcards_metadata[f.id][:topics_description] %></span>
	</div>
</div>
<% end %>
