<%= form_for :@new_flashcard, :id => "update_form", :url => "/create", :method => "post" do |f| %>
<div class="flashcard">
	<div class="question_area">
		<div class="question_prefix">YOUR QUESTION:</div>
		<div id="question_field"><%= f.text_field :question %></div>
	</div>
	<div class="answer_area">
		<div class="answer_prefix">YOUR PURPORTED ANSWER:</div>
		<div id="answer_field"><%= f.text_field :answer %></div>
	</div>
	<div class="source_area">
		<div class="source_prefix">WERE ONE TO QUESTION IT, THEY WOULD CONSULT:</div>
		<div id="source_field"><%= f.text_field :source %></div>
	</div>
	<div class="tags_area">
		<div class="tags_prefix">THIS QUESION SHALL BE CATEGORIZED ACCORDING TO THE FOLLOWING:</div>
		<div id="tags_field">
			<div class="tag_hierarchy_prefix">HIERARCHY 1:</div>
			<div id="tag_hierarchy_0" class="current_tag_hierarchy">
				<%= f.text_field :tags_0_0, :class => "tag current_tag_field", :onkeyup => "tagFieldKeyUp(0,0)" %>
			</div>
		</div>
	</div>
	<div class="hierarchy_button"><button type="button" onclick="addHierarchyButtonClicked()">ADD HIERARCHY</button></div>
	<div class="date_area">
		<div class="date_prefix">THE DATE THIS CARD WILL BE CONSIDERED TO HAVE BEEN MADE ON:</div>
		<div id="date_field"><%= f.text_field :date, :value => Date.today.to_s %></div>
	</div>
	<%= f.submit :class => "button" %>
</div>
<% end %>
