<div class="container">
  <% flash.each do |key, value| %>
  <div class="notice">
    <%= value %>
    <% flash.delete(key) %>
  </div>
  <% end %>
  <!--
	<div class="upload">
		<%= form_tag '/upload', :multipart => true do %>
		  <%= label_tag :csv, "CSV" %>
		  <%= file_field_tag :csv, :name => "upload_file" %>
		  <%= submit_tag "Submit brah", :name => "upload_button", :class => "uploadButton" %>
		<% end %>
	</div>
	-->
	<div id="subjects">
		<%= collection_select(:subject, :id, @subjects, :id, :subject, options ={}, html_options={:onchange=>"selectedSubject('show')"}) %>
	</div>
	<div id="categories">
		<% @subjects.each do |s| %>
			<% c = @categories[s.id] %>
			<%= collection_select(:category, s.id, c, :id, :category, options ={}, html_options={:onchange=>"displayQuestion()", :hidden => true}) %>
			<%= button_tag "Let's reinforce some knowledge.", :id => "category_button_" + s.id.to_s, :hidden => true, :onclick => "displayQuestion()" %>
		<% end %>
	</div>
	<div id="flashcards">
		<% @flashcards.each do |category_id, flashcards| %>
		<div class="category_flashcards" id="category_flashcards_<%= category_id %>" hidden="hidden">
			<div class="question_numbers">Question <span class="current_question_number" id="current_question_number_<%= category_id %>">0</span> of <span class="category_total_questions" id="total_questions_for_<%= category_id %>"><%= flashcards.length %></span>.</div>
			<% flashcards.each do |flashcard| %>
				<div class="unseen flashcard" id="flashcard_<%= flashcard.id %>">
					<div class="flashcard_question" id="flashcard_question_shown_<%= flashcard.id %>"><%= flashcard.question %></div>
					<%= button_tag "Fuck it. Show me the answer.", :id => "show_answer_" + flashcard.id.to_s, :onclick => "toggleAnswer('" + flashcard.id.to_s + "')" %>
					<div class="flashcard_answer", id="flashcard_answer_shown_<%= flashcard.id %>", hidden="hidden"><%= flashcard.answer %></div>
					<div class="flashcard_source", id="flashcard_source_shown_<%= flashcard.id %>", hidden="hidden"><%= flashcard.source %></div>
						<%= button_tag "That's not even close to right. Let me edit it.", :id => "edit_flashcard_" + flashcard.id.to_s, :hidden => true, :onclick => "editFlashcard(" + flashcard.id.to_s + ")" %>
				</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div id="update">
		<h4>Add Question</h4>
		<div id="subjects_update">
			<%= collection_select(:subject_update, :id, @subjects, :id, :subject, options = {:include_blank => true}, html_options={:onchange=>"selectedSubject('update')"}) %>
		</div>
		<div id="categories_update">
			<% @subjects.each do |s| %>
				<% c = @categories[s.id] %>
				<%= collection_select(:category_update, s.id, c, :id, :category, options ={:include_blank => true}, html_options={:hidden => true, :onchange => "selectedCategory('update')"}) %>
			<% end %>
		</div>
		<div id="update_form">
			<%= form_for @new_flashcard, :url => {:action => "create"}, :method => "post" do |f| %>
				<%= f.text_field :id, options = {:hidden => true} %>
				<div class="update_subject_field"><div class="update_field_label">Subject: <%= f.text_field :subject %></div></div>
				<div class="update_category_field"><div class="update_field_label">Category: <%= f.text_field :category %></div></div>
				<div class="update_question_field"><div class="update_field_label">Question: <%= f.text_area :question, :size => "100x4" %></div></div>
				<div class="update_answer_field"><div class="update_field_label">Answer: <%= f.text_area :answer, :size => "100x4"%></div></div>
				<div class="update_source_field"><div class="update_field_label">Source: <%= f.text_field :source %></div></div>
				<div class="update_submit"><%= f.submit "Create", :onclick => "send_create_request_ajax()"  %></div>
			<% end %>
		</div>
	</div>
</div>
