<div class="container">
  <% flash.each do |key, value| %>
  <div class="notice">
    <%= value %>
    <% flash.delete(key) %>
  </div>
  <% end %>
	<div class="upload">
		<%= form_tag '/upload', :multipart => true do %>
		  <%= label_tag :csv, "CSV" %>
		  <%= file_field_tag :csv, :name => "upload_file" %>
		  <%= submit_tag "Submit brah", :name => "upload_button", :class => "uploadButton" %>
		<% end %>
	</div>
</div>
